# frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/public/

# backend
backend/node_modules/
backend/.env
backend/config/

#test & README
test
README

#kubernetes
k8s

#commande
commande